<div class="bg-sessions">
  <div class="container py-5">

      <div class="bg-white rounded p-3 shadow">

        <div class="row-one">

          <h2>Efetue a Compra</h2>
          <p>Preencha a quantidade desejada do produto</p>

        </div>

        <div class="row-two d-flex justify-content-evenly">

          <%= image_tag @product.photos[0] %>

          <div class="product_info d-flex flex-column justify-content-evenly">

            <h4><%= @product.name %></h4>


            <p>Estoque: <%=@product.quantity%></p>


            <h3 class="card-trip-pricing">R$<%= @product.price %></h3>

          </div>

          <%= simple_form_for [@product, @order] do |f| %>
            <%= f.input :quantity, label: "Quantidade" %>
            <%= f.button :submit, "Comprar", class: "btn btn-primary ml-auto text-white font-weight-bold" %>
          <% end %>

        </div>


      </div>

  </div>

</div>
