<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1629652487043-fb2825838f8c?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
        <div class="container">
            <h1>Compre e venda seus <strong>materiais escolares</strong> aqui!<strong></strong></h1>
            <p></p>
            <%= link_to new_product_path do %>
              <button class="btn btn-primary ml-auto text-white font-weight-bold">Adicione seu produto aqui <i class="fa-solid fa-plus"></i> </button>
            <% end %>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1452860606245-08befc0ff44b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
          <div class="container">
            <h1>Do pré ao <strong>ensino basico!</strong><strong></strong></h1>
            <p></p>
            <a class="btn btn-primary ml-auto text-white font-weight-bold" href="#">Veja nossas promoções</a>
          </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1456735190827-d1262f71b8a3?q=80&w=2048&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
          <div class="container">
            <h1>Materiais para <strong>festinhas e eventos</strong> você tambem pode encontrar ou vender aqui! <strong></strong></h1>
            <p></p>
            <a class="btn btn-primary ml-auto text-white font-weight-bold" href="#">Veja nossas promoções</a>
          </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="selection-categories pb-2 mb-3 pt-3">
<div class="container">
<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Aventais</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Esteiras</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Artes</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Eventos</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Mochila</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Papelaria</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Brinquedos</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Livraria</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Lancheiras</a>
  </li>
</ul>
</div>
</div>

<div class="container py-5 d-none">
  <div class="row">
    <% @products.each do |product|%>
      <%= link_to product_path(product), class:"text-decoration-none" do %>
       <div class="card-category">
          <p><%= product.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="cards container">
  <% @products.each_with_index do |product, index| %>
    <div class="card-trip col m-1">
      <%= link_to product_path(product), class: "text-decoration-none" do %>
        <div id="carouselExample2<%= index %>" class="carousel slide">
          <div class="carousel-inner">
            <% product.photos.each_with_index do |photo, photo_index| %>
              <div class="carousel-item <%= 'active' if photo_index.zero? %>">
                <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path photo.key, height: 300, width: 400, crop: :fill %>);">
                </div>
              </div>
            <% end %>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2<%= index %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2<%= index %>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="card-trip-infos">
          <div>
            <h2><%= product.name %></h2>
            <p><%= product.description %></p>
          </div>
          <h2 class="card-trip-pricing">R$<%= product.price %></h2>
        </div>
      <% end %> <!-- Fechamento do link_to -->
    </div>
  <% end %>

  <div class="card-trip col m-1 d-none">
    <img class= "img-card-trip" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
    </div>
  </div>
</div>
