<div class="container py-5">

  <div class="row">

    <div class="col-12 col-md-6 offset-lg-3">

      <div class="bg-white rounded p-3 shadow">
        <h3>Oferte seu produto aqui:</h3>
        <%= simple_form_for @product do |f| %>
          <%= f.input :name, label: "Nome do Produto" %>
          <%= f.input :category, collection: ['Artes', 'Aventais', 'Brinquedos', 'Esteiras', 'Eventos', 'Lancheira', 'Livraria', 'Mochilas', 'Papelaria'], label: "Categoria" %>
          <%= f.input :description, label: "Descrição" %>
          <%= f.input :quantity,label: "Quantidade" %>
          <%= f.input :price, label: "Preço" %>
          <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Adicionar imagem do produto" %>
          <div class="d-flex justify-content-center">
            <%= f.button :submit, "Criar Produto" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
